<!--# Displays who is attacking and displays the damage points. Automatic redirection through JS to /switch-turn-->


<h1><%= @game.current_turn.name %> attacks <%= @game.other_turn.name %></h1>


<div id="count"></div>

<h2>The score is </h2>
<div id="points"></div>

<script language="JavaScript">

    var page_delay = <%= TimeDelay.countdown_tick_time %>;
    var countdown_tick_time = <%= TimeDelay.countdown_tick_time %>;

    function showCount(num) {
        document.getElementById("count").innerText = num;
    }

    function showPoints(num) {
        document.getElementById("points").innerText = num;
    }
    var points = <%= @game.other_turn.damage_score %>;

    function countDown() {
        count--;
        showCount(count);
        if (count <= 0) {
            showPoints(points);
            setTimeout(nextPage, page_delay);
        } else {
            setTimeout(countDown, countdown_tick_time);
        }
    }
    var count = 3;
    showCount(count);

    setTimeout(countDown, page_delay/2);

    function nextPage() {
        document.location = "/switch-turn";
    }
</script>
